<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.serpnet.firefox</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>13E62CFD-FF7A-4977-BD97-B140E07E1499</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67D482B3-9B1E-41B1-BB41-1364FED646C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1931717D-F347-42B8-BD74-5B2C7F84C0CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E5C6F58-2F01-4F8F-A7B2-36BCB16BF806</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CD8F912-D75C-436B-A73D-A671C0B4CDD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46758F68-4FE5-4052-A4E4-5CADA696736F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3105AE56-5DE7-4217-B16A-37A85A949BA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4747D11-C8C4-4848-BAF8-6080BFA349D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>371D44D7-196F-4795-8608-8C061C243618</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFC9DBBA-74F1-43D8-80A7-DDDDD70926CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0F558142-BCC4-40D9-984E-8F587BFCDA72</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>68735FD7-609A-4E3F-9C86-63A8A157F2EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46758F68-4FE5-4052-A4E4-5CADA696736F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70F2EE79-F5D0-4D26-A86F-6620C70DBEF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0F558142-BCC4-40D9-984E-8F587BFCDA72</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7AF495B9-2571-4AB8-8459-BB7A33EC6D46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67D482B3-9B1E-41B1-BB41-1364FED646C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E150C4A1-7F3C-4E2C-B40C-14646631742A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68735FD7-609A-4E3F-9C86-63A8A157F2EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF47CD92-D741-449A-AD6A-2BA1511D3FE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1EB13637-5A81-418A-844E-A838FAD0A1CE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>52D85BD9-5CD1-4CD9-A8B9-20FBA17CEAF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2FE37FB5-9703-4DFE-9D50-BBBAE040BCC8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7AF495B9-2571-4AB8-8459-BB7A33EC6D46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70F2EE79-F5D0-4D26-A86F-6620C70DBEF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D87B7BAF-7F84-4F48-91F4-74A0733132F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72B5EF9C-DB46-417B-9E4A-62112D62827E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>797B5CE4-E162-40B5-80F5-B362DE2EDD36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>797B5CE4-E162-40B5-80F5-B362DE2EDD36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CC35773-357D-4200-AA71-61A6D48D06B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F466597-79B1-46D5-93FA-57F3CCD98F35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19A6E3D9-CD9A-40E2-8D62-AC4D931C7618</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0F558142-BCC4-40D9-984E-8F587BFCDA72</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C3EE3078-B540-4AD3-ABDF-E8DC211C25CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CC35773-357D-4200-AA71-61A6D48D06B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>371D44D7-196F-4795-8608-8C061C243618</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E5C6F58-2F01-4F8F-A7B2-36BCB16BF806</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE92C490-CCE7-4EE1-A758-AE0EB7BB8637</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2DDD7421-27EC-42BF-9D8A-4F76E9F89A0B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>797B5CE4-E162-40B5-80F5-B362DE2EDD36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4747D11-C8C4-4848-BAF8-6080BFA349D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CD8F912-D75C-436B-A73D-A671C0B4CDD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D87B7BAF-7F84-4F48-91F4-74A0733132F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DECF063-88D9-4565-946B-25876A972C95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE92C490-CCE7-4EE1-A758-AE0EB7BB8637</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F466597-79B1-46D5-93FA-57F3CCD98F35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFC9DBBA-74F1-43D8-80A7-DDDDD70926CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19A6E3D9-CD9A-40E2-8D62-AC4D931C7618</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1EB13637-5A81-418A-844E-A838FAD0A1CE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13E62CFD-FF7A-4977-BD97-B140E07E1499</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2FE37FB5-9703-4DFE-9D50-BBBAE040BCC8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>70F2EE79-F5D0-4D26-A86F-6620C70DBEF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Grove Pyree</string>
	<key>description</key>
	<string>Wrangle Firefox via Choosy</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Firefox</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Volumes/Data/Applications/Firefox.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>19A6E3D9-CD9A-40E2-8D62-AC4D931C7618</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>not-running</string>
						<key>uid</key>
						<string>0F558142-BCC4-40D9-984E-8F587BFCDA72</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>running</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7F466597-79B1-46D5-93FA-57F3CCD98F35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>printf '%s' "$( ps aux | grep -Fv grep | grep -Fc /Applications/Firefox.app/Contents/MacOS/firefox )"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE92C490-CCE7-4EE1-A758-AE0EB7BB8637</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ff</string>
				<key>subtext</key>
				<string>Open (or bring to front) the Firefox window</string>
				<key>text</key>
				<string>Firefox window</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1931717D-F347-42B8-BD74-5B2C7F84C0CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open /Applications/Firefox.app</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3EE3078-B540-4AD3-ABDF-E8DC211C25CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>empty</string>
						<key>uid</key>
						<string>2DDD7421-27EC-42BF-9D8A-4F76E9F89A0B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>not-empty</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9E5C6F58-2F01-4F8F-A7B2-36BCB16BF806</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:task}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>blank-query</string>
						<key>uid</key>
						<string>1EB13637-5A81-418A-844E-A838FAD0A1CE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:task}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>(https?:\/\/)(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&amp;//=]*)</string>
						<key>outputlabel</key>
						<string>url-query</string>
						<key>uid</key>
						<string>2FE37FB5-9703-4DFE-9D50-BBBAE040BCC8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>search-query</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DFC9DBBA-74F1-43D8-80A7-DDDDD70926CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Volumes/Data/Applications/Firefox.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>13E62CFD-FF7A-4977-BD97-B140E07E1499</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-choosy://firefox/{var:task}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E150C4A1-7F3C-4E2C-B40C-14646631742A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>printf '%s' "$( ps aux | grep -Fv grep | grep -Fc /Applications/Firefox.app/Contents/MacOS/firefox )"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9CC35773-357D-4200-AA71-61A6D48D06B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ft</string>
				<key>subtext</key>
				<string>Open a new Firefox tab</string>
				<key>text</key>
				<string>New Firefox tab</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>72B5EF9C-DB46-417B-9E4A-62112D62827E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>67D482B3-9B1E-41B1-BB41-1364FED646C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>not-running</string>
						<key>uid</key>
						<string>0F558142-BCC4-40D9-984E-8F587BFCDA72</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>running</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>371D44D7-196F-4795-8608-8C061C243618</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>task</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>797B5CE4-E162-40B5-80F5-B362DE2EDD36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Volumes/Data/Applications/Firefox.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>70F2EE79-F5D0-4D26-A86F-6620C70DBEF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-choosy://firefox/https://google.com/search?q={var:task}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1DECF063-88D9-4565-946B-25876A972C95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>D87B7BAF-7F84-4F48-91F4-74A0733132F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-choosy://firefox/about:newtab</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DF47CD92-D741-449A-AD6A-2BA1511D3FE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>printf '%s' "$( ps aux | grep -Fv grep | grep -Fc /Applications/Firefox.app/Contents/MacOS/firefox )"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2CD8F912-D75C-436B-A73D-A671C0B4CDD7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fg</string>
				<key>subtext</key>
				<string>Open a new Firefox tab and search Google for '{query}'</string>
				<key>text</key>
				<string>Google in Firefox</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3105AE56-5DE7-4217-B16A-37A85A949BA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>not-running</string>
						<key>uid</key>
						<string>0F558142-BCC4-40D9-984E-8F587BFCDA72</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>running</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>46758F68-4FE5-4052-A4E4-5CADA696736F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-choosy://firefox/{var:task}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>52D85BD9-5CD1-4CD9-A8B9-20FBA17CEAF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:task}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>blank-query</string>
						<key>uid</key>
						<string>1EB13637-5A81-418A-844E-A838FAD0A1CE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:task}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>(https?:\/\/)(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&amp;//=]*)</string>
						<key>outputlabel</key>
						<string>url-query</string>
						<key>uid</key>
						<string>2FE37FB5-9703-4DFE-9D50-BBBAE040BCC8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>search-query</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>68735FD7-609A-4E3F-9C86-63A8A157F2EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>task</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D4747D11-C8C4-4848-BAF8-6080BFA349D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-choosy://firefox/https://google.com/search?q={var:task}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7AF495B9-2571-4AB8-8459-BB7A33EC6D46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>13E62CFD-FF7A-4977-BD97-B140E07E1499</key>
		<dict>
			<key>note</key>
			<string>Launch new Firefox</string>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>1931717D-F347-42B8-BD74-5B2C7F84C0CB</key>
		<dict>
			<key>note</key>
			<string>Firefox window</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>19A6E3D9-CD9A-40E2-8D62-AC4D931C7618</key>
		<dict>
			<key>note</key>
			<string>Launch new Firefox</string>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>1DECF063-88D9-4565-946B-25876A972C95</key>
		<dict>
			<key>note</key>
			<string>Search Google</string>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>2CD8F912-D75C-436B-A73D-A671C0B4CDD7</key>
		<dict>
			<key>note</key>
			<string>Is Firefox running?</string>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>3105AE56-5DE7-4217-B16A-37A85A949BA7</key>
		<dict>
			<key>note</key>
			<string>Google in Firefox</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>371D44D7-196F-4795-8608-8C061C243618</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>46758F68-4FE5-4052-A4E4-5CADA696736F</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>52D85BD9-5CD1-4CD9-A8B9-20FBA17CEAF9</key>
		<dict>
			<key>note</key>
			<string>Open URL</string>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>67D482B3-9B1E-41B1-BB41-1364FED646C7</key>
		<dict>
			<key>xpos</key>
			<integer>1195</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>68735FD7-609A-4E3F-9C86-63A8A157F2EB</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>70F2EE79-F5D0-4D26-A86F-6620C70DBEF9</key>
		<dict>
			<key>note</key>
			<string>Launch new Firefox</string>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>72B5EF9C-DB46-417B-9E4A-62112D62827E</key>
		<dict>
			<key>note</key>
			<string>New Firefox tab</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>797B5CE4-E162-40B5-80F5-B362DE2EDD36</key>
		<dict>
			<key>note</key>
			<string>Stash query</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>7AF495B9-2571-4AB8-8459-BB7A33EC6D46</key>
		<dict>
			<key>note</key>
			<string>Search Google</string>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>925</integer>
		</dict>
		<key>7F466597-79B1-46D5-93FA-57F3CCD98F35</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>9CC35773-357D-4200-AA71-61A6D48D06B7</key>
		<dict>
			<key>note</key>
			<string>Is Firefox running?</string>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>9E5C6F58-2F01-4F8F-A7B2-36BCB16BF806</key>
		<dict>
			<key>note</key>
			<string>Any query?</string>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>C3EE3078-B540-4AD3-ABDF-E8DC211C25CD</key>
		<dict>
			<key>note</key>
			<string>Bring Firefox to front</string>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>D4747D11-C8C4-4848-BAF8-6080BFA349D4</key>
		<dict>
			<key>note</key>
			<string>Stash query</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>D87B7BAF-7F84-4F48-91F4-74A0733132F2</key>
		<dict>
			<key>xpos</key>
			<integer>1195</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>DE92C490-CCE7-4EE1-A758-AE0EB7BB8637</key>
		<dict>
			<key>note</key>
			<string>Is Firefox running?</string>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>DF47CD92-D741-449A-AD6A-2BA1511D3FE6</key>
		<dict>
			<key>note</key>
			<string>New tab</string>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>DFC9DBBA-74F1-43D8-80A7-DDDDD70926CE</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>E150C4A1-7F3C-4E2C-B40C-14646631742A</key>
		<dict>
			<key>note</key>
			<string>Open URL</string>
			<key>xpos</key>
			<integer>1310</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>task</key>
		<string>{query}</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
