<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.serpnet.ivpn</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>044AD748-0288-4FDD-B11B-400347F84ACC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14EA1EF3-CB50-4216-97AF-9E90A5B39612</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07CBA8AF-4C74-4CA0-BD27-7A59A01FB52F</key>
		<array/>
		<key>14EA1EF3-CB50-4216-97AF-9E90A5B39612</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>320A9E33-D59D-475B-9D19-20B845EA5C0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16DCE9F0-52E0-4F39-BE13-68844CBBBDD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F11F0CA-6A92-4E9E-831E-664C7E18CD1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>176A997C-47C8-4981-AB73-3DDD07A64D96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE687B28-36CA-43B2-AFD3-3FA5E57269D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FB6D2EB9-A7A5-4D2C-8909-46356ED6E8E6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D35711B9-D376-477F-B816-5DC6143B66ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>33AFB0C7-65A0-4F2B-8AFF-35C3431E8A06</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>07CBA8AF-4C74-4CA0-BD27-7A59A01FB52F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>193071B7-080C-4DF7-A4A2-5228278CDBE3</key>
		<array/>
		<key>1E785DBD-3662-4A95-8CE9-520A8897DB10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F299AEF0-53A4-467A-8C8E-F3CB287063CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>320A9E33-D59D-475B-9D19-20B845EA5C0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F11F0CA-6A92-4E9E-831E-664C7E18CD1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FB6D2EB9-A7A5-4D2C-8909-46356ED6E8E6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0F455C0-1514-4094-A6EE-E72B7EB00A40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>542CA115-C956-4ECE-BD23-CF5F44DF2AD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD801F0F-40F0-4567-AD96-AE44952B80D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6351A003-5AA2-46A0-865F-1CD753BD3251</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>176A997C-47C8-4981-AB73-3DDD07A64D96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F11F0CA-6A92-4E9E-831E-664C7E18CD1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6351A003-5AA2-46A0-865F-1CD753BD3251</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0F455C0-1514-4094-A6EE-E72B7EB00A40</key>
		<array/>
		<key>A976CC44-3FEB-48FB-8659-A4A3FF56D74F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>719C06A1-8E75-49E9-B5F6-EB61E60D4CBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FB6D2EB9-A7A5-4D2C-8909-46356ED6E8E6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>193071B7-080C-4DF7-A4A2-5228278CDBE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE687B28-36CA-43B2-AFD3-3FA5E57269D3</key>
		<array/>
		<key>D35711B9-D376-477F-B816-5DC6143B66ED</key>
		<array/>
		<key>F299AEF0-53A4-467A-8C8E-F3CB287063CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>320A9E33-D59D-475B-9D19-20B845EA5C0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD801F0F-40F0-4567-AD96-AE44952B80D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A976CC44-3FEB-48FB-8659-A4A3FF56D74F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Grove Pyree</string>
	<key>description</key>
	<string>Basic controls for the IVPN client</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IVPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>❌ {query}</string>
				<key>title</key>
				<string>Disconnected</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CE687B28-36CA-43B2-AFD3-3FA5E57269D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>irc</string>
				<key>subtext</key>
				<string>If already connected, does nothing</string>
				<key>text</key>
				<string>Reconnect to IVPN with last successful config</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>044AD748-0288-4FDD-B11B-400347F84ACC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/local/bin/ivpn connect -fw_off -last</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14EA1EF3-CB50-4216-97AF-9E90A5B39612</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ist</string>
				<key>subtext</key>
				<string>Shows whether currently connected to IVPN</string>
				<key>text</key>
				<string>Status of connection to IVPN</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>16DCE9F0-52E0-4F39-BE13-68844CBBBDD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>✅ {query}</string>
				<key>title</key>
				<string>Connected</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D35711B9-D376-477F-B816-5DC6143B66ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/local/bin/ivpn status</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F11F0CA-6A92-4E9E-831E-664C7E18CD1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import re
import sys

query = sys.argv[1]

if re.search(r'^VPN\s+: CONNECTED', query):
    location = re.search(r'.*CONNECTED\s+(.+)\n', query, re.M)
    location = location.group(1) + '\n'
    result = 'Connected to ' + location
elif re.search(r'^VPN\s+: DISCONNECTED', query):
    result = 'Disconnected from IVPN'
else:
    result = 'Unknown status'

sys.stdout.write(result)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6351A003-5AA2-46A0-865F-1CD753BD3251</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^Disconnected.*</string>
						<key>outputlabel</key>
						<string>{query}</string>
						<key>uid</key>
						<string>FB6D2EB9-A7A5-4D2C-8909-46356ED6E8E6</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^Connected.*</string>
						<key>outputlabel</key>
						<string>{query}</string>
						<key>uid</key>
						<string>33AFB0C7-65A0-4F2B-8AFF-35C3431E8A06</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>{query}</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>176A997C-47C8-4981-AB73-3DDD07A64D96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>⁉️ {query}</string>
				<key>title</key>
				<string>Unknown</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>07CBA8AF-4C74-4CA0-BD27-7A59A01FB52F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>country=se  # default
case $1 in
    se|sh|stockholm|sweden)     country=se;;
    gb|ln|london|uk|england)    country=gb;;
    de|fk|frankfurt|germany)    country=de;;
    nj|jersey|us)               country=us-nj;;
    *)                          :;;
esac; shift

connection=gw  # default
case $1 in
    wg)   connection=wg;;  # WireGuard
    gw)   connection=gw;;  # OpenVPN
    *)    :;;
esac

/usr/local/bin/ivpn connect -fw_off "$country.$connection.ivpn.net"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F299AEF0-53A4-467A-8C8E-F3CB287063CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>icn</string>
				<key>subtext</key>
				<string>If already connected, does nothing</string>
				<key>text</key>
				<string>Connect to IVPN</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1E785DBD-3662-4A95-8CE9-520A8897DB10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^.*\n.*\n.*: CONNECTED.*</string>
						<key>outputlabel</key>
						<string>Successfully connected to IVPN</string>
						<key>uid</key>
						<string>FB6D2EB9-A7A5-4D2C-8909-46356ED6E8E6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Failed to connect to IVPN</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>320A9E33-D59D-475B-9D19-20B845EA5C0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>⁉️⁉️⁉️</string>
				<key>title</key>
				<string>Failed to connect to IVPN</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A0F455C0-1514-4094-A6EE-E72B7EB00A40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>❎❎❎</string>
				<key>title</key>
				<string>Successfully disconnected from IVPN</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>719C06A1-8E75-49E9-B5F6-EB61E60D4CBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/local/bin/ivpn disconnect</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD801F0F-40F0-4567-AD96-AE44952B80D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>idc</string>
				<key>subtext</key>
				<string>If not already connected, does nothing</string>
				<key>text</key>
				<string>Disconnect from IVPN</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>542CA115-C956-4ECE-BD23-CF5F44DF2AD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^.*: DISCONNECTED.*</string>
						<key>outputlabel</key>
						<string>Successfully disconnected from IVPN</string>
						<key>uid</key>
						<string>FB6D2EB9-A7A5-4D2C-8909-46356ED6E8E6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Failed to disconnect from IVPN</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A976CC44-3FEB-48FB-8659-A4A3FF56D74F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>⁉️⁉️⁉️</string>
				<key>title</key>
				<string>Failed to disconnect from IVPN</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>193071B7-080C-4DF7-A4A2-5228278CDBE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>044AD748-0288-4FDD-B11B-400347F84ACC</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>07CBA8AF-4C74-4CA0-BD27-7A59A01FB52F</key>
		<dict>
			<key>xpos</key>
			<integer>1390</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>14EA1EF3-CB50-4216-97AF-9E90A5B39612</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>16DCE9F0-52E0-4F39-BE13-68844CBBBDD4</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>176A997C-47C8-4981-AB73-3DDD07A64D96</key>
		<dict>
			<key>xpos</key>
			<integer>1265</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>193071B7-080C-4DF7-A4A2-5228278CDBE3</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>1E785DBD-3662-4A95-8CE9-520A8897DB10</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>320A9E33-D59D-475B-9D19-20B845EA5C0A</key>
		<dict>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>542CA115-C956-4ECE-BD23-CF5F44DF2AD9</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>6351A003-5AA2-46A0-865F-1CD753BD3251</key>
		<dict>
			<key>xpos</key>
			<integer>1085</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>719C06A1-8E75-49E9-B5F6-EB61E60D4CBD</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>7F11F0CA-6A92-4E9E-831E-664C7E18CD1E</key>
		<dict>
			<key>xpos</key>
			<integer>915</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>A0F455C0-1514-4094-A6EE-E72B7EB00A40</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>A976CC44-3FEB-48FB-8659-A4A3FF56D74F</key>
		<dict>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>CE687B28-36CA-43B2-AFD3-3FA5E57269D3</key>
		<dict>
			<key>xpos</key>
			<integer>1390</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D35711B9-D376-477F-B816-5DC6143B66ED</key>
		<dict>
			<key>xpos</key>
			<integer>1390</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>F299AEF0-53A4-467A-8C8E-F3CB287063CC</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>FD801F0F-40F0-4567-AD96-AE44952B80D7</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
