<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.serpnet.finder</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4DCEE1A1-C04F-4C42-9508-B9EC3BAB18A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BBA081C-7229-421F-B59F-845C16CBA011</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C0B9AA0-320F-4AFB-BD87-847ECEFB4A73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AEDEB43-C7C6-4D69-9F40-343B3883C8E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DB3517C-5DB9-49B1-A9E7-0AF148358B88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98B618D2-CBE5-4FBF-BDE4-736718618DE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD0CA430-15B7-4ED1-BFBB-97262287419E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EF7A163-7CFC-4E44-A6BA-5036375056E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4248C93-6B53-4B41-9D08-C27F1DD5B8E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93275E0C-A67F-4F93-8429-B5684810C2CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9599B41-B94A-45F6-8922-A1A7C61C1043</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B38978FD-65CE-400F-9C49-BBE3A6AC7C0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Grove Pyree</string>
	<key>description</key>
	<string>Open Finder directory tabs with short keyword aliases</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Developer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>98B618D2-CBE5-4FBF-BDE4-736718618DE2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dev</string>
				<key>subtext</key>
				<string>Open a Finder tab with the Developer directory</string>
				<key>text</key>
				<string>Finder tab: Developer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9DB3517C-5DB9-49B1-A9E7-0AF148358B88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Documents</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>B38978FD-65CE-400F-9C49-BBE3A6AC7C0E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>docs</string>
				<key>subtext</key>
				<string>Open a Finder tab with the Documents directory</string>
				<key>text</key>
				<string>Finder tab: Documents</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F9599B41-B94A-45F6-8922-A1A7C61C1043</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dld</string>
				<key>subtext</key>
				<string>Open a Finder tab with the Downloads directory</string>
				<key>text</key>
				<string>Finder tab: Downloads</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C4248C93-6B53-4B41-9D08-C27F1DD5B8E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Downloads</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>93275E0C-A67F-4F93-8429-B5684810C2CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Desktop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>0EF7A163-7CFC-4E44-A6BA-5036375056E2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dsk</string>
				<key>subtext</key>
				<string>Open a Finder tab with the Desktop directory</string>
				<key>text</key>
				<string>Finder tab: Desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD0CA430-15B7-4ED1-BFBB-97262287419E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Movies</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>2BBA081C-7229-421F-B59F-845C16CBA011</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mvd</string>
				<key>subtext</key>
				<string>Open a Finder tab with the Movies directory</string>
				<key>text</key>
				<string>Finder tab: Movies</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4DCEE1A1-C04F-4C42-9508-B9EC3BAB18A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Pictures</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1AEDEB43-C7C6-4D69-9F40-343B3883C8E7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pcs</string>
				<key>subtext</key>
				<string>Open a Finder tab with the Pictures directory</string>
				<key>text</key>
				<string>Finder tab: Pictures</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8C0B9AA0-320F-4AFB-BD87-847ECEFB4A73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0EF7A163-7CFC-4E44-A6BA-5036375056E2</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>1AEDEB43-C7C6-4D69-9F40-343B3883C8E7</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>2BBA081C-7229-421F-B59F-845C16CBA011</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>4DCEE1A1-C04F-4C42-9508-B9EC3BAB18A1</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>8C0B9AA0-320F-4AFB-BD87-847ECEFB4A73</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>93275E0C-A67F-4F93-8429-B5684810C2CC</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>98B618D2-CBE5-4FBF-BDE4-736718618DE2</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>9DB3517C-5DB9-49B1-A9E7-0AF148358B88</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B38978FD-65CE-400F-9C49-BBE3A6AC7C0E</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>BD0CA430-15B7-4ED1-BFBB-97262287419E</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>C4248C93-6B53-4B41-9D08-C27F1DD5B8E8</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>F9599B41-B94A-45F6-8922-A1A7C61C1043</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
